<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{javascript}}/board.css">
    <title>Game</title>
</head>
<body>
    <div id="mode" hidden></div>
    <div id="sessionNum" hidden></div>

    <div class="container">
        <div id="startMenu">
            <button id="newGame">New Game</button>
            <button id="joinGame">Join Game</button>
        </div>
        <div class="board" hidden></div>
        <div id="winner" hidden></div>
    </div>
</body>
<script src='{{javascript}}/printBoard.js'></script>
</html>